
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5cm;
}

#s1 {
    background-image: url("img/blue.png"), url("img/waves.png");
    /*Change the hard-coded value on the right to scale the pattern to look nice*/
    background-size: auto 80%;
}

#d1 {
    /*Uncomment or comment to give the entry the same colour as the header*/
    /*background-image: url("img/blue.png");*/
}

#s2 {
    /*Change the hard-coded value on the right to scale the pattern to look nice*/
    background-image: url("img/red.png"), url("img/angles.png");
    background-size: auto 100%;
}

#d2 {
    /*Uncomment or comment to give the entry the same colour as the header*/
    /*background-image: url("red.png");*/
}

.container {
    padding-bottom: 10px;
    width: 50%;
}

details {
    border-color: black;
    border: solid 1px;
}

#addButton {
    position: absolute;
    bottom: 80px;
    right: 80px;
    width:50px;
    height:50px;
    border-radius:50px;
    background-color: #a6fcff;
    border: 2px solid black;
    background-image: url("img/plus.png");
}

#userEntryContainer {
    padding-top: 10px;
}

form {
    border: 2px solid black;
    width: 50%;
    padding-left: 10px;
    padding-bottom: 10px;
}